@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
    position: relative;
    width: 1440px;
    height: 1080px;

    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#containerError {
    position: absolute;
    left: 77px;
    top: 40px;
}

#messageError {
    width: 133px;
    height: 25px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

#containerCrow {
    position: absolute;
    top: 265px;
    left: 77px;
}

#imgCrow {
    width: 539px;
    height: 447px;
}

#containerMainText {
    position: absolute;
    left: 735px;
    top: 265px;
}

#mainText {
    width: 586px;
    height: 190px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

#containerSecondaryText {
    position: absolute;
    left: 736px;
    top: 491px;
}

#secondaryText {
    margin-top: 36px;
    width: 381px;
    height: 108px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

#containerBtn {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;

    background: #333333;
}

#btnText {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 34px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

#containerCreator {
    position: absolute;
    left: 577px;
    top: 1039px;
}

#creatorText {
    width: 287px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #BDBDBD;
}

span {
    font-weight: bold;
}